gdown
Cython
audiomentations==0.28.0
nemo_toolkit
git+https://github.com/farisalasmary/pydub.git@master
transformers==4.16.0
timm==0.4.12
fairscale==0.4.4
flask_cors
pyngrok
git+https://github.com/jacobgil/pytorch-grad-cam.git@1ff3f58
